
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8;
  font-family: "Arial", sans-serif;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}


.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.language {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.language:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Название языка */
.language h2 {
  color: #4a90e2;
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Количество голосов */
.language p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Стиль для кнопки */
button {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #e14b4f;
  transform: translateY(-3px);
}
